body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    padding: 50px;
    background-color: rgb(225, 222, 199);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
}

table{
    background-color: white;
    width: 90%;
}

tr:nth-child(odd) {
    background-color: #eee;
}

th:nth-child(2) {
    width: 40%;
}

th:nth-child(3) {
    width: 28%;
}

th:nth-child(4) {
    width: 20%;
}

tr:hover {
    background: rgb(200, 199, 199);
}

.addBtn {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

